<div class="row">
    <!-- <div class="col-sm-3">
        <h2><i class="fa fa-plus-square-o" aria-hidden="true"></i> Create a card</h2>
        <form ng-submit="addnewCard()">
            <div class="form-group">
                <label for="exampleInputEmail1">Question (Front Side)</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="What's (9*5)+6" ng-model="newCard.question" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Answer (Back Side)</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="51" ng-model="newCard.answer">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Level (easy 1 - 5 hard)</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="1" ng-model="newCard.level" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Category</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" Math, History, Science, coding..." ng-model="newCard.cate">
            </div>
            <button type="submit" class="btn btn-success">Create this card</button>
        </form>
    </div> -->
    <div class="col-sm-12">
        <h1><i class="fa fa-th-list" aria-hidden="true"></i> Cards</h1>

        <div class="col-sm-6 cardCol">
            <input type="text" placeholder="Find cards" class="form-control" ng-model="searchFilter">
        </div>
        <div class="col-sm-3 cardCol">
            <button class="btn btn-default btn-block" ng-click="sortBy('level')" style="cursor: pointer;">Sort by Level</button>
        </div>
        <div class="col-sm-3 cardCol">
            <button class="btn btn-default btn-block" ng-click="sortBy('cate')" style="cursor: pointer;">Sort by Category</button>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 cardCol">
            <form class="card formCard text-center" ng-submit="addnewCard()">
                <span class="cate">
                    <select ng-model="newCard.cate" required>
                        <option  value="" disabled selected>category</option>
                      <option value="math">math</option>
                      <option value="node">node</option>
                      <option value="jquery">jquery</option>
                      <option value="angular">angular</option>
                    </select>
                    <select ng-model="newCard.level" required>
                        <option value="" disabled selected>level</option>
                      <option value="easy">easy</option>
                      <option value="medium">medium</option>
                      <option value="hard">hard</option>
                    </select>
                </span >
                <h3><input type="text" class="form-control" placeholder="question" ng-model="newCard.question" required></h3>
                <h3><input type="text" class="form-control" placeholder="answer" ng-model="newCard.answer" required></h3>
                <button type="submit" class="btn btn-default btn-xs">add this card ></button>
            </form>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 cardCol" ng-repeat="card in cards | orderBy:order | filter:searchFilter track by $index" style="cursor: pointer;" ng-dblclick="editCard(card._id)">
            <div class="card text-center">
                <span class="cate">{{card.cate}} - {{card.level}}</span >
                <h3>{{card.question}}</h3>

                <form ng-if="">
                    <span class="cate">{{card.cate}} - {{card.level}}</span >
                    <h3><input type="text" class="form-control" placeholder="question" ng-model="edittedCard.question" required></h3>
                    <h3><input type="text" class="form-control" placeholder="answer" ng-model="edittedCard.answer" required></h3>
                </form>


            </div>

        </div>

    </div>

    </div>


</div>
